# Auto detect text files and perform LF normalization
* text=auto
Hello, it's me. I was wondering if after all this time you'd like to meet, to go over, our beliefs?
They say the Gospel's over-rated, but it's done much healing.
